<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}


    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    >
    <script src="https://kit.fontawesome.com/f8504e7ce3.js" crossorigin="anonymous"></script>
</head>
<body class="block_body">

<div class="block_menu">
            {% set url = 'toto' %}
            <div>
                <h1 class="text-center mt-4 site_name"><a href="/">LeMeilleurCoin</a></h1>
                {% if app.user %}
                    <p class="text-center">Bienvenue {{app.user.identifiant}}</p>
                    <p class="text-center">AlyCoin : {{app.user.money}} </p>
                    <p class="text-center"><a href="/money">Ajouter des alycoins</a></p>
                {% endif %}
            </div>
            <nav class="block_nav">
                <ul class="nav_menu">

                    {% set class = '' %}
                    {% if  url == 'deposer' %}
                        {% set class = 'actif' %}
                    {% endif %}
                    <li class="{{"item_menu #{class}"}}">
                        <a href="/deposer">Déposer</a>
                        <div class="line_menu"></div>
                    </li>

                    {% set class = '' %}
                    {% if  url == 'rechercher' or url == 'annonces'  %}
                        {% set class = 'actif' %}
                    {% endif %}
                    <li class="{{"item_menu #{class}"}}">
                        <a href="/rechercher">Rechercher</a>
                        <div class="line_menu"></div>
                    </li>

                    {% if app.user %}
                        <li class="{{"item_menu "}}">
                            <a href="/profile/{{app.user.id}}">Profile</a>
                            <div class="line_menu"></div>
                        </li>
                        <li class="{{"item_menu "}}">
                            <a href="/profile/fav">Mes Favoris</a>
                            <div class="line_menu"></div>
                        </li>
                        <li class="{{"item_menu"}}">
                            <a href="/logout">Deconnexion</a>
                            <div class="line_menu"></div>
                        </li>
                    {% else %}
                        {% set class = '' %}
                        {% if  url == 'connexion' %}
                            {% set class = 'actif' %}
                        {% endif %}
                        <li class="{{"item_menu #{class}"}}">
                            <a href="/login">Connexion</a>
                            <div class="line_menu"></div>
                        </li>

                        {% set class = '' %}
                        {% if  url == 'register' %}
                            {% set class = 'actif' %}
                        {% endif %}
                        <li class="{{"item_menu #{class}"}}">
                            <a href="/register">Inscription</a>
                            <div class="line_menu"></div>
                        </li>
                    {% endif %}
                </ul>
            </nav>

            <footer>
               <ul class="nav_menu">
                    <li class="item_menu">
                        <a href="_blank">FAQ</a>
                        <div class="line_menu"></div>
                    </li>
                    <li class="item_menu">
                        <a href="_blank">CGU</a>
                        <div class="line_menu"></div>
                    </li>
               </ul>
            </footer>

        </div>

    <div class="pushing">
    </div>
    {% block body %}

    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>

