{% extends 'base.html.twig' %}

{% block title %}LeMeilleurCoin - Symfony Projet{% endblock %}

{% block body %}
    <main class="block_main">
        <h2>DETAIL DE L'ANNONCE</h2>
        <div class="block_detail mt-5">
            <div class="inner">
                <div class="block_titre">
                    <p class="auteur">Auteur : <a href="/profile/{{userAd.id}}" style="text-decoration:none">{{userAd.username}}</a></p>
                    <h3>{{ annonce.title }}</h3>
                    <p>{{ annonce.description }}</p>
                </div>
                <div class="block_more">
                    <p>Ville de l'annonceur : {{ annonce.city }}</p>
                    <p>Code postale de l'annonceur : {{ annonce.zip }}</p>
                    <p>Prix : {{ annonce.price }}€</p>
                    {% for category in annonce.categories %}
                        <p> Catégorie : {{category.title}}</p>
                    {% endfor %}
                    <a href="/fav/{{ annonce.id }}" class="btn btn-outline-primary" role="button" aria-pressed="true">Acheter</a>
                    {% if exist %}
                        <a href="/remove/fav/{{ annonce.id }}" class="btn btn-outline-danger" role="button" aria-pressed="true">Supprimez des favoris</a>
                    {% else %}
                        <a href="/fav/{{ annonce.id }}" class="btn btn-outline-success" role="button" aria-pressed="true">Ajouter aux favoris</a>
                    {% endif %}
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86258.75639479009!2d-0.6233278460017316!3d47.497975256864606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4808793d5fb22ab5%3A0x1c0d3755a0e01fb0!2s{{annonce.zip}}!5e0!3m2!1sfr!2sfr!4v1579877940163!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>


    </main>
{% endblock %}

{% block javascripts %}{% endblock %}


