{% extends 'base.html.twig' %}

{% block title %}LeMeilleurCoin - Symfony Projet{% endblock %}

{% block body %}
        <main class="block_main">
        <h2 class="mb-5">MES FAVORIS</h2>
         {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endfor %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">Prix</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for annonce in user.fav %}
                    <tr>
                        <td scope="row">{{ annonce.title }}</td>
                        <td>{{ annonce.description }}</td>
                        <td>{{ annonce.city }}</td>
                        <td>{{ annonce.zip }}</td>
                        <td>{{ annonce.price }}</td>
                        <td><a href="/annonces/{{annonce.id}}"><i class="fas fa-eye"></i></a></td>
                        <td><a style="color: red" href="/remove/fav/{{annonce.id}}"><i class="fas fa-trash"></i></a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
{% endblock %}

{% block javascripts %}{% endblock %}


